# Variables
We are going to create the BMI for specific people: "w" stands for Weight, where as "h" stands for Height

In [32]:
w = int(input("Enter your weight: "))
h = float(input("Enter your height: "))
BMI = w / (h**2)
print (round(BMI))
if   BMI <= 18:
    print ("You have Underweighted. Eat some fats to gain weight")
else:
    if BMI >= 25:
        print ("You have Overweighted. You need to check the nutritionist to work on your weith loss")
    else:
        print ("You are normal")

Enter your weight:  65
Enter your height:  1.68

23
You are normal

# Functions

In [2]:
def speed_calculator (d, t):
    speed = d/t
    return speed

In [4]:
speed_calculator(7, 1.5)

4.666666666666667

# Numpy (Mathematical computation)

In [8]:
import numpy as np

In [10]:
# Matrix
np.ones((10, 10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [24]:
# we need the output to be all numbers from 2 to 20 by jumping 5
np.arange(2,20,5)

array([ 2,  7, 12, 17])

# Pandas
A library used for database/dataframe manipulation

In [3]:
import pandas as pd

In [35]:
# Reading data from a csv file that is saved in the same location as the editing file
sales_data = pd.read_csv("Assets/sales-data-sample.csv")

In [15]:
sales_data.head(5)

,OrderDate,Category,City,Country,CustomerName,Discount,OrderID,PostalCode,ProductName,Profit,...,DaystoShipActual,SalesForecast,ShipStatus,DaystoShipScheduled,OrderProfitable,SalesperCustomer,ProfitRatio,SalesaboveTarget,latitude,longitude
0,2011-01-04T00:00:00.000Z,Office Supplies,Houston,United States,Darren Powers,0.2,CA-2011-103800,77095,"Message Book, Wirebound, Four 5 1/2 X 4 Forms/...",6,...,4,22,Shipped Early,6,NaN,16.45,33.8,NaN,29.8941,-95.6481
1,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.2,CA-2011-112326,60540,Avery 508,4,...,4,15,Shipped Early,6,NaN,11.78,36.3,NaN,41.7662,-88.1410
2,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.8,CA-2011-112326,60540,GBC Standard Plastic Binding Systems Combs,-5,...,4,5,Shipped Early,6,NaN,3.54,-155.0,NaN,41.7662,-88.1410
3,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.2,CA-2011-112326,60540,SAFCO Boltless Steel Shelving,-65,...,4,357,Shipped Early,6,NaN,272.74,-23.8,NaN,41.7662,-88.1410
4,2011-01-06T00:00:00.000Z,Office Supplies,Philadelphia,United States,Mick Brown,0.2,CA-2011-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,5,...,7,26,Shipped Late,6,NaN,19.54,25.0,NaN,39.9448,-75.2288

In [23]:
# Command to filter the records where the customer name is Phillina Ober
filtered_cust = sales_data[sales_data['CustomerName'] == 'Phillina Ober']

In [25]:
filtered_cust

,OrderDate,Category,City,Country,CustomerName,Discount,OrderID,PostalCode,ProductName,Profit,...,DaystoShipActual,SalesForecast,ShipStatus,DaystoShipScheduled,OrderProfitable,SalesperCustomer,ProfitRatio,SalesaboveTarget,latitude,longitude
1,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.2,CA-2011-112326,60540,Avery 508,4,...,4,15,Shipped Early,6,NaN,11.78,36.3,NaN,41.7662,-88.1410
2,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.8,CA-2011-112326,60540,GBC Standard Plastic Binding Systems Combs,-5,...,4,5,Shipped Early,6,NaN,3.54,-155.0,NaN,41.7662,-88.1410
3,2011-01-05T00:00:00.000Z,Office Supplies,Naperville,United States,Phillina Ober,0.2,CA-2011-112326,60540,SAFCO Boltless Steel Shelving,-65,...,4,357,Shipped Early,6,NaN,272.74,-23.8,NaN,41.7662,-88.1410
3230,2012-09-25T00:00:00.000Z,Office Supplies,Bayonne,United States,Phillina Ober,0.0,CA-2012-156335,7002,Tuff Stuff Recycled Round Ring Binders,7,...,3,19,Shipped On Time,3,NaN,14.46,49.0,NaN,40.6664,-74.1192
3244,2012-09-25T00:00:00.000Z,Technology,Bayonne,United States,Phillina Ober,0.0,CA-2012-156335,7002,Memorex Micro Travel Drive 16 GB,20,...,3,84,Shipped On Time,3,NaN,63.96,31.0,NaN,40.6664,-74.1192
3245,2012-09-25T00:00:00.000Z,Technology,Bayonne,United States,Phillina Ober,0.0,CA-2012-156335,7002,netTALK DUO VoIP Telephone Service,52,...,3,138,Shipped On Time,3,NaN,104.98,50.0,NaN,40.6664,-74.1192
3642,2012-11-20T00:00:00.000Z,Furniture,Philadelphia,United States,Phillina Ober,0.3,CA-2012-110891,19140,"Global High-Back Leather Tilter, Burgundy",-93,...,4,451,Shipped Early,6,NaN,344.37,-27.1,NaN,40.0118,-75.1456
3761,2012-11-29T00:00:00.000Z,Office Supplies,San Francisco,United States,Phillina Ober,0.2,CA-2012-144099,94122,"Acco PRESSTEX Data Binder with Storage Hooks, ...",2,...,1,6,Shipped Late,0,NaN,4.30,36.3,NaN,37.7593,-122.4836
8829,2014-10-06T00:00:00.000Z,Office Supplies,New York City,United States,Phillina Ober,0.2,US-2014-103247,10011,Tuf-Vin Binders,26,...,3,99,Shipped On Time,3,NaN,75.79,33.8,NaN,40.7402,-73.9996
8835,2014-10-06T00:00:00.000Z,Technology,New York City,United States,Phillina Ober,0.0,US-2014-103247,10011,Motorola HK250 Universal Bluetooth Headset,3,...,3,211,Shipped On Time,3,NaN,160.93,2.0,NaN,40.7402,-73.9996

In [27]:
# Shape function to display the size of the table (number of rows, number of columns)
sales_data.shape

(9994, 28)

In [29]:
# Columns command to display the list of columns the table has
sales_data.columns

Index(['OrderDate', 'Category', 'City', 'Country', 'CustomerName', 'Discount',
       'OrderID', 'PostalCode', 'ProductName', 'Profit', 'Quantity', 'Region',
       'Sales', 'Segment', 'ShipDate', 'ShipMode', 'State', 'Sub_Category',
       'DaystoShipActual', 'SalesForecast', 'ShipStatus',
       'DaystoShipScheduled', 'OrderProfitable', 'SalesperCustomer',
       'ProfitRatio', 'SalesaboveTarget', 'latitude', 'longitude'],
      dtype='object')

In [37]:
# Displaying columns with their data types
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderDate            9994 non-null   object
 1   Category             9994 non-null   object
 2   City                 9994 non-null   object
 3   Country              9994 non-null   object
 4   CustomerName         9994 non-null   object
 5   Discount             9994 non-null   float64
 6   OrderID              9994 non-null   object
 7   PostalCode           9994 non-null   int64
 8   ProductName          9994 non-null   object
 9   Profit               9994 non-null   int64
 10  Quantity             9994 non-null   int64
 11  Region               9994 non-null   object
 12  Sales                9994 non-null   int64
 13  Segment              9994 non-null   object
 14  ShipDate             9994 non-null   object
 15  ShipMode             9994 non-null   object
 16  State                9994 non-null   object
 17  Sub_Category         9994 non-null   object
 18  DaystoShipActual     9994 non-null   int64
 19  SalesForecast        9994 non-null   int64
 20  ShipStatus           9994 non-null   object
 21  DaystoShipScheduled  9994 non-null   int64
 22  OrderProfitable      0 non-null      float64
 23  SalesperCustomer     9994 non-null   float64
 24  ProfitRatio          9994 non-null   float64
 25  SalesaboveTarget     0 non-null      float64
 26  latitude             9994 non-null   float64
 27  longitude            9994 non-null   float64
dtypes: float64(7), int64(7), object(14)
memory usage: 2.1+ MB

In [39]:
# Displaying statistical information of each column with datatypes that are numerical
sales_data.describe()

,Discount,PostalCode,Profit,Quantity,Sales,DaystoShipActual,SalesForecast,DaystoShipScheduled,OrderProfitable,SalesperCustomer,ProfitRatio,SalesaboveTarget,latitude,longitude
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,0.0,9994.000000,9994.000000,0.0,9994.000000,9994.000000
mean,0.156203,55190.379428,28.651891,3.789574,229.873324,3.958875,301.200620,4.320692,NaN,229.857992,12.037092,NaN,37.787222,-94.360212
std,0.206452,32063.693350,234.255712,2.225110,623.248946,1.747097,816.700059,2.176059,NaN,623.245119,46.677878,NaN,4.884539,18.058618
min,0.000000,1040.000000,-6600.000000,1.000000,0.000000,0.000000,1.000000,0.000000,NaN,0.440000,-275.000000,NaN,25.476600,-123.099800
25%,0.000000,23223.000000,2.000000,2.000000,17.000000,3.000000,23.000000,3.000000,NaN,17.280000,7.500000,NaN,34.011600,-117.252100
50%,0.200000,56430.500000,9.000000,3.000000,54.500000,4.000000,71.000000,6.000000,NaN,54.490000,27.000000,NaN,38.790200,-87.761150
75%,0.200000,90008.000000,29.000000,5.000000,210.000000,5.000000,275.000000,6.000000,NaN,209.940000,36.300000,NaN,40.801100,-77.394800
max,0.800000,99301.000000,8400.000000,14.000000,22638.000000,7.000000,29665.000000,6.000000,NaN,22638.480000,50.000000,NaN,48.797400,-68.791800

In [51]:
# Making a copy of the data
sales_data_copy = sales_data.copy()

In [53]:
# Given the total price and quatity, we are going to find the price of each single item
sales_data_copy["Price"] = sales_data_copy["Sales"] / sales_data_copy["Quantity"]

In [71]:
# Selecting custom columns to display the products, unit price, quantity, and total sales
Filtered_columns = ['ProductName', 'Price', 'Quantity', 'Sales']

In [73]:
# Selecting the filtered columns
sales_data_copy[Filtered_columns]

,ProductName,Price,Quantity,Sales
0,"Message Book, Wirebound, Four 5 1/2 X 4 Forms/...",8.000000,2,16
1,Avery 508,4.000000,3,12
2,GBC Standard Plastic Binding Systems Combs,2.000000,2,4
3,SAFCO Boltless Steel Shelving,91.000000,3,273
4,Avery Hi-Liter EverBold Pen Style Fluorescent ...,6.666667,3,20
...,...,...,...,...
9989,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",7.000000,2,14
9990,GBC Binding covers,10.500000,2,21
9991,Bagged Rubber Bands,1.000000,3,3
9992,Wilson Jones Legal Size Ring Binders,17.666667,3,53
9993,Gear Head AU3700S Headset,13.000000,7,91

In [81]:
# Command to delete/drop some columns in a dataframe
sales_daa_copy_clean = sales_data_copy.drop(["Sub_Category", "PostalCode"], axis = 1)

In [85]:
sales_daa_copy_clean.columns

Index(['OrderDate', 'Category', 'City', 'Country', 'CustomerName', 'Discount',
       'OrderID', 'ProductName', 'Profit', 'Quantity', 'Region', 'Sales',
       'Segment', 'ShipDate', 'ShipMode', 'State', 'DaystoShipActual',
       'SalesForecast', 'ShipStatus', 'DaystoShipScheduled', 'OrderProfitable',
       'SalesperCustomer', 'ProfitRatio', 'SalesaboveTarget', 'latitude',
       'longitude', 'Price'],
      dtype='object')

In [93]:
# Select countries, sales, and profit
selected_columns = sales_data_copy[['City', 'Sales', 'Profit']]

In [111]:
# Selecting data grouped by a specific column. In this example we are grouping sales and profit by city
sales_by_city = sales_data_copy.groupby('City')[['Sales', 'Profit']].sum()

In [113]:
sales_by_city.head(20)

                   Sales  Profit
City
Aberdeen              26       7
Abilene                1      -4
Akron               2729    -184
Albuquerque         2219     633
Alexandria          5519     318
Allen                290     -40
Allentown            854    -228
Altoona               20      -1
Amarillo            3773    -386
Anaheim             7986    1234
Andover              436     124
Ann Arbor            889     228
Antioch               19       9
Apopka               905      54
Apple Valley        2053     293
Appleton            1672     554
Arlington          20218    4170
Arlington Heights     14       1
Arvada               503      61
Asheville           1476      77

In [126]:
# calculating the average sales and profit with respect to each category
sales_by_categories = sales_data_copy.groupby('Category')[['Sales', 'Profit']].mean()

In [128]:
sales_by_categories

                      Sales     Profit
Category
Furniture        349.837812   8.695898
Office Supplies  119.337371  20.324262
Technology       452.745533  78.737953

In [142]:
# Command to filter the records and save them as a new csv file
sales_furniture = sales_data_copy[(sales_data_copy['Category'] == 'Furniture') & (sales_data_copy['City'] == 'Lakeville')]

In [148]:
sales_furniture

,OrderDate,Category,City,Country,CustomerName,Discount,OrderID,PostalCode,ProductName,Profit,...,SalesForecast,ShipStatus,DaystoShipScheduled,OrderProfitable,SalesperCustomer,ProfitRatio,SalesaboveTarget,latitude,longitude,Price
539,2011-06-01T00:00:00.000Z,Furniture,Lakeville,United States,Dianna Wilson,0.0,CA-2011-131926,55044,Global Deluxe High-Back Managers Chair,581,...,2623,Shipped Late,3,NaN,2001.86,29.0,NaN,44.6749,-93.2578,286.0
2827,2012-07-30T00:00:00.000Z,Furniture,Lakeville,United States,Gary Hansen,0.0,US-2012-164966,55044,"Global Stack Chair without Arms, Black",39,...,204,Shipped Late,1,NaN,155.88,25.0,NaN,44.6749,-93.2578,26.0

In [ ]:
#The use of union or / symbol for dataframe filter
sales_furniture_or_great_500_profit